{% load static tailwind_tags %}
<!doctype html>
<html lang="en">

<head>
	<title>Blog HomePage</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script src="{% static 'htmx.min.js' %}" defer></script>
	{% tailwind_css %}
</head>

<body>
	<div class="min-w-screen bg-mainbackground font-thin text-white leading-normal tracking-normal min-h-screen flex flex-col">
		<div class="flex min-w-screen">
		{% include 'components/sidebar.html' %}
				<div class="w-full">
					{% include 'components/header.html' %}

					<main >{% block content %} {% endblock %}</main>

					{% include 'components/footer.html' %}
				</div>
		</div>
	</div>
</body>

</html>
